In [2]:
import os
import sqlite3
import csv
import logging

# Set some locations and file names
DB = 'beer'
TABLE = 'brewpub'

LOG_FILE = 'brewery.log'
LEVEL = logging.DEBUG

path = 'data'
fn = 'py_log_english_brewery_data.csv'
file_path = os.path.join(path, fn)
file_path

'data\\py_log_english_brewery_data.csv'

In [3]:
# Set up logging
logging.basicConfig(filename=LOG_FILE,
                    level=LEVEL)
logger = logging.getLogger()

In [11]:
def create_database(db, table, file):
    "Creates a database w/ table loaded with file data"

    # connect to the database
    logger.debug("connecting to database")
    conn = sqlite3.connect(db)
    curs = conn.cursor()

    # set up a data table
    logger.debug("setting up the {} table".format(table))
    curs.execute("DROP TABLE IF EXISTS {}".format(table))
    cmd = """CREATE TABLE {}
                         (name   TEXT(50), 
                          is_ale TINYINT,
                          county TEXT(50)
                          )""".format(table)
    curs.execute(cmd)
    conn.commit()

    # Interrogate the database for the column names
    cmd = "SELECT * FROM {}".format(table)
    curs.execute(cmd)
    cols = []
    for name in curs.description:
        cols.append(name[0])
    cols = tuple(cols)

    # create a master set of info collected from data file
    master = set()

    # open the file and read it, dropping each row into the data table
    logger.debug("opening {}".format(file))
    with open(file_path, 'r') as data_file:

        # Use csv.reader to open the data file.  Skip the header row
        reader = csv.reader(data_file)
        next(reader)

        # Read each row (a row is a list of strings).  Parse and clean.
        for data in reader:
            name, county = data
            name = name.strip()
            county = county.strip()
            is_ale = 0
            if "ale" in name.lower():
                is_ale = 1

            # create a tuple for input to INSERT
            master.add((name, is_ale, county))

    # At this point, the master set of info is deduped, so
    #  add its contents to the database.  Note that we could
    #  add everything to the database then grab unique values
    #  via a SELECT DISTINCT directive.

    for item_tuple in master:
        cmd = f"INSERT INTO {table} {cols} VALUES (?, ?, ?)"
        curs.execute(cmd, item_tuple)

    # Create a log entry.
    logger.debug("making commits to the {} table".format(table))

    conn.commit()
    conn.close()


def get_ale_houses(db, table, is_ale=1, county=0):
    "finds places based on whether they do ale and their location"

    logger.debug("Finding ale houses in {}.".format(table))

    # Establish database connectivity
    conn = sqlite3.connect(db)
    curs = conn.cursor()

    # Pick the query depending on parameters provided
    if not county:
        cmd = f"SELECT * FROM {table} WHERE is_ale={is_ale}"
    else:
        cmd = f"SELECT * FROM {table} WHERE is_ale={is_ale} AND county='{county}'"

    # Grab results
    curs.execute(cmd)
    results = curs.fetchall()

    logger.debug("... found {} ale houses!".format(len(results)))

    return results

In [12]:
create_database(DB, TABLE, file_path)

In [13]:
results = get_ale_houses(DB, TABLE)
results

[('Bowman Ales', 1, 'Hampshire'),
 ('Prescott Ales', 1, 'Gloucestershire'),
 ('Hambleton Ales', 1, 'North Yorkshire'),
 ('Emmanuales', 1, 'South Yorkshire'),
 ('Thirst Class Ale', 1, 'Stockport'),
 ('Abbeydale Brewery', 1, 'South Yorkshire'),
 ('Daleside Brewery', 1, 'North Yorkshire'),
 ('Cumbrian Legendary Ales', 1, 'Cumbria'),
 ('Xtreme Ales', 1, 'Cambridgeshire'),
 ('Willy Good Ale', 1, 'Wiltshire'),
 ('Amber Ales', 1, 'Derbyshire'),
 ('Vale Brewery', 1, 'Buckinghamshire'),
 ('Ales of Scilly', 1, 'Cornwall'),
 ('Simpsons Fine Ales', 1, 'Herefordshire'),
 ('WeardAle Brewery', 1, 'Durham'),
 ('Bath Ales', 1, 'Avon & Somerset'),
 ('Cheddar Ales', 1, 'Somerset'),
 ('Allendale Brewery', 1, 'Northumberland'),
 ('Springhead Fine Ales', 1, 'Nottinghamshire'),
 ('Crouch Vale Brewery', 1, 'Essex'),
 ('Isca Ales', 1, 'Devon'),
 ('Yard of Ale Brewing', 1, 'Durham'),
 ('Yeovil Ales', 1, 'Somerset'),
 ('Corvedale Brewery', 1, 'Shropshire'),
 ('Ledbury Real Ales', 1, 'Herefordshire'),
 ('Peak Ales', 1, 'Derbyshire'),
 ('Tavy Ales', 1, 'Devon'),
 ('Lizard Ales', 1, 'Cornwall'),
 ('Plain Ales', 1, 'Wiltshire'),
 ('Saxon City Ales', 1, 'Herefordshire'),
 ('Mobberley FIne Ales', 1, 'Cheshire'),
 ('Oakham Ales', 1, 'Cambridgeshire'),
 ('Conset Ale Works', 1, 'Durham'),
 ('Glastonbury Ales', 1, 'Somerset'),
 ('Yorkshire Dales Brewery', 1, 'North Yorkshire'),
 ('Branscombe Vale Brewery', 1, 'Devon'),
 ('Greenfield Real Ale Brewery', 1, 'Manchester'),
 ('Gun Dog Ales', 1, 'Northants'),
 ('Ascot Ales', 1, 'Surrey'),
 ('Severn Vale Brewing', 1, 'Gloucestershire'),
 ('Stonehenge Ales', 1, 'Wiltshire'),
 ('Arbor Ales', 1, 'Avon'),
 ('Dawkins Ales', 1, 'Somerset'),
 ('Wild Weather Ales', 1, 'Hampshire'),
 ('Goody Ales', 1, 'Kent'),
 ('Sadlers Ales', 1, 'West Midlands'),
 ('Canterbury Ales (the)', 1, 'Kent'),
 ('Isla Vale Alesmiths', 1, 'Kent'),
 ('Austendyke Ales', 1, 'Lincolnshire'),
 ('Abbey Ales Brewery', 1, 'Somerset'),
 ('Angel Ales', 1, 'Worcestershire'),
 ('Slaters Ales', 1, 'Staffordshire'),
 ('Sunbeam Ales', 1, 'West Yorkshire'),
 ('Wensleydale Brewery', 1, 'North Yorkshire')]

In [14]:
herfordshire = get_ale_houses(DB, TABLE, county='Herefordshire' )
herfordshire

[('Simpsons Fine Ales', 1, 'Herefordshire'),
 ('Ledbury Real Ales', 1, 'Herefordshire'),
 ('Saxon City Ales', 1, 'Herefordshire')]