In [1]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

path = 'data'
datafile = 'earthquakes.csv'
filename = os.path.join('..', path, datafile)

df = pd.read_csv(filename, parse_dates=[0])  # dialect defaults to Excel

# fix the 'place' column
df['place'] = df['place'].astype(str)
df['place'] = df['place'].str.split(',').str.get(1)
df['place'] = df['place'].str.strip()
df['place'] = df['place'].str.replace("CA", "California")

#  make year, month, and day columns
df['year'] = df['time'].dt.year
df['mon'] = df['time'].dt.month
df['day'] = df['time'].dt.day

# nuke extraneous columns
df.drop(df.columns[[1, 2, 5, 6, 7, 8, 9, 11, 12, 14, 15, 16, 17, 18, 20, 21]],
        axis=1, inplace=True)

# round to nearest minute and de-dup
df['time'] = df['time'].dt.round('min')
df = df.drop_duplicates('time')

# make time the index
df.set_index('time', inplace=True)

df.head(3)

,depth,mag,net,place,status,year,mon,day
time,,,,,,,,
2017-09-19 16:57:00+00:00,1.52,2.45,ci,California,automatic,2017,9,19
2017-09-19 16:15:00+00:00,2.63,2.92,nc,California,automatic,2017,9,19
2017-09-19 15:35:00+00:00,4.52,3.10,us,Idaho,reviewed,2017,9,19